<html>
<head>

  <title>madlibz</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="app">
  <div class ="container" ng-controller="MadController">
  <div ng-view>
  <h2>Enter a word</h2>
    <input ng-model="userInput">
    <button ng-click="addWord(userInput)">add</button>

  <h2>Current Sentence</h2>
    <div class="currentSentence">
      {{userInput +" "+ getCurrentStorySentence() }}
    </div>

<h2>The Story So Far</h2>
    <div class="story" ng-repeat="sentence in story track by $index">
     <p>
      {{sentence}}
     </p>
     </div>
    </div>
  </div>



</body>

</html>